@media all and (max-width:1100px){
    .button input{ padding: 10px 60px;
        margin-right: 50px;}}

@media all and (max-width:988px){
    .manu-area{width:80%;}
    .manu-area li a{padding:10px 12px;}
}

@media all and (max-width:800px){
    .manu-area ul a{font-size: 14px;}

    .login input[type="text"]{font-size: 12px;}
    .login input[type="password"]{font-size: 12px;}
    .login input[type="submit"]{font-size: 12px;}
    .banner-section img{height:300px;}

    .button input{font-size:16px; margin-right: 30px;
    padding:10px 50px;}

    .service h2{font-size: 18px;}

    .grid-container{grid-gap:15px 10px;}
    .grid-container p{font-size: 16px;}
    
    .about-us p{font-size: 16px;} 
    
    .contact h4{font-size: 12px;}
    .contact i{font-size: 30px;}

    .social-icon i{font-size: 25px;}
    .full-name{width:100%;}
}

